<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
    <a href="../flights">All Flights</a>
    <a href="/flights/new">Add Flight</a>
    </nav>
  </body>
</html>
